
/**xxl device and up**/
@media (max-width: 2560px)  {



}
@media (max-width: 1399px)  {
 

}
/**xl device and up**/
@media (max-width: 1199px)  {

}
/**lg device and up**/
@media (max-width: 991px)  {
.feature_text h2 {
    text-align: center;
    margin:15px 0;
}
.feature_text p {
    text-align: center;
}
}
/**md device and up**/
@media (max-width: 767px)  {  
  
}
/**sm device and up**/
@media(max-width: 575px)  {
    .carousel-indicators [data-bs-target] {
        width: 10px !important;
        height: 10px !important;
        border-radius: 50%;
        margin: 10px;
    }
    .banner_content {
        padding: 0px 0 0px 0;
    }

}
/**xsm device and up**/
@media (max-width: 425px)  {


}
/**col device and up**/
@media (max-width:375px)  {
   

}
@media (max-width:320px)  {
  
}
